@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";    
    ViewBag.Title = "ContaCriadaSucesso";
}

<table style="height:100%;width:100%;border:0px;">
    <tr style="height:40px">
        <td style="border:0px;">&nbsp;</td>
    </tr>
    <tr style="height:100%">
        <td style="border:0px;height:100%;vertical-align:middle;text-align:center">
            <a href="http://www.celtica.com.br"><img src="../../Content/images/logoceltica.png" width="100%"/></a><br />
            <h3 style="text-align:center;color:#155662;vertical-align:top;">cTracker v1.0 é mais um software desenvolvido pela Céltica</h3>
            </td>
            @*<td style="border:0px;height:100%;vertical-align:middle;text-align:center">@Html.ActionLink("Alterar senha","ChangePassword","Account")</td>*@
    </tr>
    <tr style="height:120px">
        <td style="border:0px;vertical-align:bottom;"><h3 style="text-align:center;color:#155662;padding-bottom:30px;">&nbsp;</h3></td>
    </tr>
</table>